#footer-image{
	height:540px;
	background:url(../images/horizon.png);
	margin: 0 auto;
	background-position:center;
}

#form{
	margin: 25px auto 0;
	max-width:800px;
}

label{
	display:block;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus, button:focus{
	outline-color:#FC0;
}

input[type="text"]{
	border: white thin solid;
	background:rgba(0,0,0,0.5);
	width:300px;
	font-size:20px;
	color:rgba(255,204,0,0.9);
	padding: 3px 0 2px 4px;
}

input[type="email"]{
	border: white thin solid;
	background:rgba(0,0,0,0.5);
	width:300px;
	font-size:20px;
	color:rgba(255,204,0,0.9);
	padding: 3px 0 2px 4px;
}

textarea{
	font-family: 'Mako', sans-serif;
	border: white thin solid;
	background:rgba(0,0,0,0.5);
	width:800px;
	height:100px;
	font-size:20px;
	color:rgba(255,204,0,0.9);
	padding: 3px 0 2px 4px

}

#malebox{
	display:inline;
	padding-right:40px;
}

#femalebox{
	display:inline;
}

button{
	background:rgba(255,255,255, 0.05);
	font-weight:bold;
	border:#FC0 thin solid;
	display:block;
	margin: 0 auto;
	margin-top:50px;
}

.innerbutton{
	color:rgba(255,204,0,0.9);
}

input[type="radio"] + div{
	border:2px solid grey;
	border-radius:10px;
	width:10px;
	height:10px;
	display:inline-block;
	margin-bottom:-1px;
}
	
input:checked[type="radio"] + div{
	background-color:#FC0;
}

input[type="radio"]{
	display:none;
}

input[type="checkbox"] + div{
	border:2px solid grey;
	border-radius:2px;
	width:10px;
	height:10px;
	display:inline-block;
	margin-bottom:-1px;
}

input:checked[type="checkbox"] + div{
	background-color:#FC0;
}

input[type="checkbox"]{
	display:none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:rgba(255,255,255,0.45);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(255,255,255,0.45);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(255,255,255,0.45);
}
  
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(255,255,255,0.45);
}

@media screen and (max-width: 1023px){
	#texty{
		width:95%;
		height:100px;
	}
}